* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  background-image: url(images/wallpaper.jpg);
  background-position: center bottom;
}

.header-container {
  font-family: Arial, sans-serif;
  /* background-color: #e7dfd8; */
  /* background-color: #b3be62; */
  color: #168098;
  backdrop-filter: blur(10px);
  /* height: 100vh; */
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;

  gap: 5em;
}

.nav-container {
  padding: 1em;
}

/* .dropdown {
  display: none;
} */

/* .hero-container {
  margin: 2em 5em 2em 5em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-self: flex-start;
} */

.hero-title {
  padding: 0.5em 0 0 0;

  font-size: 30px;
  text-align: left;
}

.hero-name {
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.name {
  font-size: 40px;
  text-decoration: underline #fff;
}

/* .hero-img {
  width: 100%;
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: center;
  gap: 1.5em;
}

/* Project Section */

.projects {
  background-color: #fff;
  /* height: 100vh; */
}

/* End Peoject Section */

/* footer */
.footer {
  padding: 2em;

  background-color: #168098;

  text-align: center;
}

/* End of footer */

/* Mobile Starts Here!*/

@media only screen and (max-width: 400px) {
  .links {
    gap: 1em;
  }

  .hero-container {
    margin: 1em 1em 1em 1em;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
  }

  .hero-title,
  .hero-name,
  .hero-text,
  .contact-me {
    text-align: center;
  }

  .nav-container {
    display: none;
  }

  /* dropdown button */

  .dd-menu {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
  }

  .logo {
    align-self: center;
    padding-left: 1em;
  }

  .dropdown {
    padding: 1em;
    display: block;
    /* border: 1px solid #fff; */

    display: flex;
    justify-content: space-between;
  }

  /* .dropbtn > img {
    width: 30px;
  } */

  .dropbtn {
    background-color: #5b6a74;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    right: 100px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 50px;
    right: 16px;

    background-color: #168098;
    min-width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Dropdown End */

  .name {
    font-size: 30px;
    text-decoration: underline;
    color: #168098;
  }
  .hero-title {
  }

  .hero-img {
    max-width: fit-content;
    padding-top: 3em;
    padding-bottom: 3em;

    display: none;
    align-self: center;
    order: 1;
  }

  .contact-me {
    font-size: 1px;
  }
  .hero-text {
    font-size: 20px;
  }
  .hero-contact {
    padding: 10px;
    border-radius: 5px;
    max-width: fit-content;
    align-self: center;
    text-align: center;
    background-color: #168098;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }

  /* skills Mobile */

  .skill img {
    width: 70%;
  }

  .skills {
    text-align: center;
  }

  .skills-container {
    padding: 3em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #168098;
    gap: 3em;

    justify-content: center;
    align-self: center;
  }

  /* End Skills Mobile */

  /* Projects Starts Here! */
  .projects {
    padding: 2em;
  }

  .projects-container {
    padding: 2em;
    border: 1px solid black;
  }

  .projects > h4 {
    text-align: center;
  }

  .projects-container {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 1em;
    gap: 1em;

    text-align: center;
    border-radius: 10px;
    /* background-color: red; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }
  .projects-container > article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: gray;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 10.149) 2.95px 2.95px 2.6px;
  }

  /* MOBILE FORM */
  .form {
    text-align: center;
    padding: 1em;
    color: #168098;
  }

  .contact-me-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 1em;

    gap: 1em;
  }
  .send {
    display: flex;
    justify-content: right;
  }

  .form-row {
    text-align: left;
    align-self: left;
  }
  .form-row > input {
    width: 100%;
    height: 40px;
    font-size: inherit;
  }

  .form-row > textarea {
    width: 100%;
    height: 100px;
    font-size: larger;
    font-weight: 800;
  }

  .form-row button {
    font-size: 16px;
    position: relative;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 10px;
    cursor: pointer;
  }

  .form-row button:hover {
    background-color: #76aeed;
  }

  .form-row button:active {
    background-color: #407fc7;
  }

  .form-container {
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    padding: 1em;
  }
  /* padding: 50px; */
}

/* Mobile Ends Here!*/

/* TABLET STARTS HERE */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero-container {
    /* border: 1px solid #fff; */
    margin: 1em 1em 1em 1em;
    backdrop-filter: blur(10px);

    padding: 1em;

    display: flex;
    flex-direction: row;

    align-self: flex-start;
    gap: 1em;
  }

  .logo {
    display: none;
  }
  .dropdown {
    display: none;
  }

  .content {
    text-align: left;
  }

  .hero-title {
    padding: 0.5em 0 0 0;

    font-size: 40px;
  }

  .hero-img {
    width: 100%;

    order: 1;
  }

  .hero-contact {
    padding: 10px;
    border-radius: 5px;
    max-width: fit-content;
    align-self: center;
    text-align: center;
    background-color: #168098;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }

  /* Skills Tablet */

  .skill img {
    width: 30%;
  }

  .skills {
    text-align: center;
  }

  .skills-container {
    padding: 3em;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 8fr; */
    background-color: #168098;
    gap: 3em;

    justify-content: center;
    align-self: center;
  }
  /* Skills Tablet End */

  /* Projects Starts Here! */
  .projects {
    padding: 1em;
  }

  .projects > h4 {
    text-align: center;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    gap: 1em;
    /* background-color: ; */

    text-align: center;
    border-radius: 10px;
    /* background-color: red; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }
  .projects-container > article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: gray;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.149) 2.95px 2.95px 2.6px;
  }
  /* Projects Ends Here! */

  /* Tablet FORM */

  .form {
    text-align: center;
    padding: 1em;
    color: #168098;
  }
  /* 
  .contact-me-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 1em;

    gap: 1em;
  } */

  .contact-me-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    gap: 2em;
  }

  .fname {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .email {
    grid-row: 2 / 3;
  }

  .phone {
    grid-row: 3 / 4;
  }

  .message {
    resize: vertical;

    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  #messages {
    width: 100%;
    height: 240px;
    resize: vertical;
  }
  .send {
    display: flex;
    justify-content: right;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .form-row {
    text-align: left;
    align-self: left;
  }
  .form-row > input {
    width: 100%;
    height: 40px;
    font-size: inherit;
  }

  .form-row > textarea {
    width: 100%;
    height: 100px;
    font-size: larger;
    font-weight: 800;
  }

  .form-row button {
    font-size: 16px;
    position: relative;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 10px;
    cursor: pointer;
  }

  .form-row button:hover {
    background-color: #76aeed;
  }

  .form-row button:active {
    background-color: #407fc7;
  }

  .form-container {
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    padding: 1em;
  }
}
/* TABLET ENDS HERE */

/* Desktop Starts Here! */
@media only screen and (min-width: 961px) {
  .hero-container {
    backdrop-filter: blur(10px);
    /* border: 1px solid #fff; */
    margin: 0 5em 5em 5em;
    padding: 5em;

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /* gap: 5em; */
  }

  .logo {
    display: none;
  }
  .dropdown {
    display: none;
  }

  .hero-title {
    padding: 0.5em 0 0 0;

    font-size: 45px;
  }
  .name {
    text-decoration: underline;
    font-size: 45px;
  }

  .hero-img {
    width: 100%;

    order: 1;
  }

  .content h1 {
    text-align: left;
    justify-content: start;
    align-items: start;
    padding-bottom: 50px;
  }
  .hero-text {
    text-align: left;
    font-size: 30px;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* .hero-contact {
    padding-top: 50px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  } */
  .hero-contact {
    padding: 10px;
    border-radius: 5px;
    max-width: fit-content;
    align-self: center;
    text-align: center;
    background-color: #168098;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  /* Browser SKills */

  .skill img {
    width: 30%;
  }

  .skills {
    text-align: center;
  }

  .skills-container {
    padding: 3em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 8fr; */
    background-color: #168098;
    gap: 3em;

    justify-content: center;
    align-self: center;
  }
  /* Browser Skills End */
  /* Projects Starts Here! */
  .projects {
    padding: 1em;
  }

  .projects > h4 {
    text-align: center;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1em;
    gap: 1em;
    /* background-color: ; */

    text-align: center;
    border-radius: 10px;
    /* background-color: red; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  }
  .projects-container > article {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: gray;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.149) 2.95px 2.95px 2.6px;
  }
  /* Tablet FORM */

  .form {
    /* border: 1px solid #fff; */
    text-align: center;
    padding: 1em;
    color: #168098;
  }

  /* .contact-me-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 1em;

    gap: 1em;
  } */

  .contact-me-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em;
    gap: 1em;
  }

  .fname {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .email {
    grid-row: 2 / 3;
  }

  .phone {
    grid-row: 3 / 4;
  }

  .message {
    resize: vertical;

    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  #messages {
    width: 100%;
    height: 210px;
    resize: vertical;
  }
  .send {
    display: flex;
    justify-content: right;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }

  .form-row {
    font-size: 20px;
    text-align: left;
    align-self: left;
  }
  .form-row > input {
    width: 100%;
    height: 40px;
    font-size: inherit;
  }

  .form-row > textarea {
    width: 100%;
    height: 100px;
    font-size: larger;
    font-weight: 800;
  }

  .form-row button {
    font-size: 16px;
    position: relative;

    color: #ffffff;
    background-color: #5995da;

    border: none;
    border-radius: 3px;

    padding: 10px 10px;
    cursor: pointer;
  }

  .form-row button:hover {
    background-color: #76aeed;
  }

  .form-row button:active {
    background-color: #407fc7;
  }

  .form-container {
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    padding: 1em;
  }
}

/* Desktop Ends Here! */
