* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  background-image: url(images/wallpaper.jpg);
  background-position: center;
}

.header-container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: #e7dfd8; */
  /* background-color: #b3be62; */
  color: #168098;
  backdrop-filter: blur(10px);
  /* height: 100vh; */
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;

  gap: 5em;
}

.nav-container {
  padding: 1em;
}

.dropdown {
  display: none;
}

/* .hero-container {
  margin: 2em 5em 2em 5em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  align-self: flex-start;
} */

.hero-title {
  padding: 0.5em 0 0 0;

  font-size: 30px;
  text-align: left;
}

.hero-name {
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.hero-img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: center;
  gap: 1.5em;
}

.hero-contact {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

/* SKills Section */

.skills-container {
  padding: 3em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 2fr 8fr; */
  background: green;

  gap: 3em;
}

.skill img {
  width: 50px;
}
/* End - Skills Section */

/* Project Section */

.projects {
  background-color: #fff;
  height: 100vh;
}

/* End Peoject Section */

/* footer */
.footer {
  padding: 3em;

  background-color: #168098;

  text-align: center;
}

/* End of footer */

/* Mobile */

@media only screen and (max-width: 400px) {
  .links {
    gap: 1em;
  }

  .hero-container {
    margin: 1em 1em 1em 1em;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
  }

  .hero-title,
  .hero-name,
  .hero-text,
  .contact-me {
    text-align: center;
  }

  .nav-container {
    display: none;
  }

  /* dropdown button */
  .dropdown {
    display: block;
  }

  .dropbtn > img {
    width: 30px;
  }

  .dropbtn {
    background-color: #5b6a74;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Dropdown End */

  .name {
    font-size: 40px;
    text-decoration: underline;
  }
  .hero-title {
  }

  .hero-img {
    /* width: 100%; */
    padding-top: 3em;
    padding-bottom: 3em;

    align-self: center;
    order: 1;
  }

  .contact-me {
  }
  .hero-text {
    font-size: 20px;
  }

  /* skills Mobile */

  .skills-container {
    padding: 3em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 2fr 8fr; */

    gap: 3em;

    justify-content: center;
    align-self: center;
  }

  /* End Skills Mobile */
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero-container {
    border: 1px solid #fff;
    margin: 1em 1em 1em 1em;
    backdrop-filter: blur(10px);

    padding: 1em;

    display: flex;
    flex-direction: row;

    align-self: flex-start;
    gap: 5em;
  }

  .content {
    text-align: left;
  }

  .hero-title {
    padding: 0.5em 0 0 0;

    font-size: 40px;
  }

  .hero-img {
    /* width: 100%; */

    order: 1;
  }

  /* Skills Tablet */
  .skills-container {
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  /* Skills Tablet End */
}

@media only screen and (min-width: 961px) {
  .hero-container {
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    margin: 0 5em 5em 5em;
    padding: 1em;

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /* gap: 5em; */
  }

  .hero-title {
    padding: 0.5em 0 0 0;

    font-size: 50px;
  }
  .name {
    text-decoration: underline;
    font-size: 50px;
  }

  .hero-img {
    /* width: 100%; */

    order: 1;
  }

  .content h1 {
    text-align: left;
    justify-content: start;
    align-items: start;
    padding-bottom: 50px;
  }
  .hero-text {
    text-align: left;
    font-size: 40px;

    padding-top: 50px;
  }

  .hero-contact {
    padding-top: 50px;
  }
}

/* Browser SKills */
.skills-container {
  padding: 3em;

  justify-content: space-evenly;
  /* align-self: center; */
  align-items: center;
}
/* Browser Skills End */
